code/flows.json
[{"id":"d40be2dd.cb98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"161e8d9a.23ab22","type":"mqtt out","z":"d40be2dd.cb98","name":"","topic":"IOT/KELOMPOK2/RGB","qos":"","retain":"","broker":"a01e2511.737ca8","x":710,"y":260,"wires":[]},{"id":"4db82476.46be5c","type":"ui_button","z":"d40be2dd.cb98","name":"","group":"50a3f7ee.1c7978","order":1,"width":0,"height":0,"passthru":false,"label":"RED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RED","payloadType":"str","topic":"","x":370,"y":200,"wires":[["161e8d9a.23ab22"]]},{"id":"9ebbb7a4.900398","type":"ui_button","z":"d40be2dd.cb98","name":"","group":"50a3f7ee.1c7978","order":2,"width":0,"height":0,"passthru":false,"label":"GREEN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GREEN","payloadType":"str","topic":"","x":460,"y":260,"wires":[["161e8d9a.23ab22"]]},{"id":"18e33598.a8bc8a","type":"ui_button","z":"d40be2dd.cb98","name":"","group":"50a3f7ee.1c7978","order":0,"width":0,"height":0,"passthru":false,"label":"BLUE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"BLUE","payloadType":"str","topic":"","x":370,"y":320,"wires":[["161e8d9a.23ab22"]]},{"id":"40f2318e.14eef","type":"ui_gauge","z":"d40be2dd.cb98","name":"","group":"50a3f7ee.1c7978","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":260,"wires":[]},{"id":"f1e8ff9c.ce846","type":"mqtt in","z":"d40be2dd.cb98","name":"","topic":"IOT/KELOMPOK2/ADC","qos":"2","datatype":"auto","broker":"a01e2511.737ca8","x":940,"y":260,"wires":[["40f2318e.14eef"]]},{"id":"a01e2511.737ca8","type":"mqtt-broker","z":"","name":"reynaldo","broker":"52.87.183.206","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50a3f7ee.1c7978","type":"ui_group","z":"","name":"RGB","tab":"e7e6b19a.c9963","disp":true,"width":"6","collapse":false},{"id":"e7e6b19a.c9963","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]